@import url(https://fonts.googleapis.com/css?family=Muli:400,300italic,300,400italic);

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  font-family: muli;
  height: 100%;
  padding: 0;
  overflow-x: hidden;
  background-color: rgb(255, 255, 255);
}

h1,
h2,
h3 {
  margin: 0;
}

#root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.arrow {
  color: white;
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  background-color: #198754;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.visited {
  color: blue;
  background-color: #ffc107;
}
